.right-code code .hll { background-color: #49483e}
.right-code code .c { color: #AFB87D } /* Comment */
.right-code code .err { color: #960050; background-color: #1e0010 } /* Error */
.right-code code .k { color: #D0D1FD } /* Keyword */
.right-code code .l { color: #D0D1FD } /* Literal */
.right-code code .n { color: #EABDFD } /* Name */
.right-code code .o { color: #EABDFD } /* Operator */
.right-code code .p { color: #EABDFD } /* Punctuation */
.right-code code .cm { color: #AFB87D } /* Comment.Multiline */
.right-code code .cp { color: #AFB87D } /* Comment.Preproc */
.right-code code .c1 { color: #AFB87D } /* Comment.Single */
.right-code code .cs { color: #AFB87D } /* Comment.Special */
.right-code code .ge { font-style: italic } /* Generic.Emph */
.right-code code .gs { font-weight: bold } /* Generic.Strong */
.right-code code .kc { color: #D0D1FD } /* Keyword.Constant */
.right-code code .kd { color: #D0D1FD } /* Keyword.Declaration */
.right-code code .kn { color: #FD6D64 } /* Keyword.Namespace */
.right-code code .kp { color: #D0D1FD } /* Keyword.Pseudo */
.right-code code .kr { color: #D0D1FD } /* Keyword.Reserved */
.right-code code .kt { color: #D0D1FD } /* Keyword.Type */
.right-code code .ld { color: #ECB8AD } /* Literal.Date */
.right-code code .m { color: #BF6D48 } /* Literal.Number */
.right-code code .s { color: #FED7B3 } /* Literal.String */
.right-code code .na { color: #9BF99C } /* Name.Attribute */
.right-code code .nb { color: #FFFEBA } /* Name.Builtin */
.right-code code .nc { color: #9BF99C } /* Name.Class */
.right-code code .no { color: #D0D1FD } /* Name.Constant */
.right-code code .nd { color: #9BF99C } /* Name.Decorator */
.right-code code .ni { color: #FFFEBA } /* Name.Entity */
.right-code code .ne { color: #9BF99C } /* Name.Exception */
.right-code code .nf { color: #9BF99C } /* Name.Function */
.right-code code .nl { color: #FFFEBA } /* Name.Label */
.right-code code .nn { color: #FFFEBA } /* Name.Namespace */
.right-code code .nx { color: #9BF99C } /* Name.Other */
.right-code code .py { color: #FFFEBA } /* Name.Property */
.right-code code .nt { color: #DEAF91 } /* Name.Tag */
.right-code code .nv { color: #FFFEBA } /* Name.Variable */
.right-code code .ow { color: #FFFEBA } /* Operator.Word */
.right-code code .w { color: #FFFEBA } /* Text.Whitespace */
.right-code code .mf { color: #9DFFFE } /* Literal.Number.Float */
.right-code code .mh { color: #9DFFFE } /* Literal.Number.Hex */
.right-code code .mi { color: #9DFFFE } /* Literal.Number.Integer */
.right-code code .mo { color: #9DFFFE } /* Literal.Number.Oct */
.right-code code .sb { color: #ECB8AD } /* Literal.String.Backtick */
.right-code code .sc { color: #ECB8AD } /* Literal.String.Char */
.right-code code .sd { color: #ECB8AD } /* Literal.String.Doc */
.right-code code .s2 { color: #ECB8AD } /* Literal.String.Double */
.right-code code .se { color: #9DFFFE } /* Literal.String.Escape */
.right-code code .sh { color: #ECB8AD } /* Literal.String.Heredoc */
.right-code code .si { color: #ECB8AD } /* Literal.String.Interpol */
.right-code code .sx { color: #ECB8AD } /* Literal.String.Other */
.right-code code .sr { color: #ECB8AD } /* Literal.String.Regex */
.right-code code .s1 { color: #ECB8AD } /* Literal.String.Single */
.right-code code .ss { color: #ECB8AD } /* Literal.String.Symbol */
.right-code code .bp { color: #FFF8DF } /* Name.Builtin.Pseudo */
.right-code code .vc { color: #FFF8DF } /* Name.Variable.Class */
.right-code code .vg { color: #FFF8DF } /* Name.Variable.Global */
.right-code code .vi { color: #FFF8DF } /* Name.Variable.Instance */
.right-code code .il { color: #9DFFFE } /* Literal.Number.Integer.Long */

.right-code code .gh { } /* Generic Heading & Diff Header */
.right-code code .gu { color: #AFB87D; } /* Generic.Subheading & Diff Unified/Comment? */
.right-code code .gd { color: #DEAF91; } /* Generic.Deleted & Diff Deleted */
.right-code code .gi { color: #9BF99C; } /* Generic.Inserted & Diff Inserted */
